<div class="p-5">
  <h2>My Watchlist</h2>
  <div
    class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-5 mt-5"
    *ngIf="movies.length"
  >
    <div
      class="border border-gray-300 p-2.5 text-center"
      *ngFor="let movie of movies"
    >
      <img
        [src]="movie.Poster"
        [alt]="movie.Title"
        class="w-full h-auto"
        *ngIf="movie.Poster !== 'N/A'"
      />
      <div>
        <h3>{{ movie.Title }}</h3>
        <p>{{ movie.Year }}</p>
        <button [routerLink]="['/movie', movie.imdbID]">View Details</button>
        <button (click)="removeFromWatchlist(movie)">Remove</button>
      </div>
    </div>
  </div>
  <p *ngIf="!movies.length">Watchlist is empty</p>
</div>

